{% extends 'index.html' %} 

{% block static %} 
	{% load static %} 
{% endblock static %} 

{% block titleanddescription %} 
	<title>Furni Shop</title>
	<meta name="description" content="" />
{% endblock titleanddescription %}

{% block nav %}
	<li><a class="nav-link" href="{% url 'home' %}">Home</a></li>
	<li class="nav-item active">
	  <a class="nav-link" href="{% url 'shop' %}">Shop</a>
	</li>
	<li><a class="nav-link" href="{% url 'about' %}">About us</a></li>
	<li><a class="nav-link" href="{% url 'service' %}">Services</a></li>
	<li><a class="nav-link" href="{% url 'blog' %}">Blog</a></li>
	<li><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li>
{% endblock nav %} 

{% block hero %}
	<div class="row justify-content-between">
	  <div class="col-lg-5">
	    <div class="intro-excerpt">
	      <h1><span clsas="d-block">Nordic Chair</span></h1>
	      <p class="mb-4">
	        Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.
	        Aliquam vulputate velit imperdiet dolor tempor tristique.
	      </p>
	      <p>
	        <a href="" class="btn btn-secondary me-2">Shop Now</a
	        ><a href="#" class="btn btn-white-outline">Explore</a>
	      </p>
	    </div>
	  </div>
	  <div class="col-lg-7">
	    <div class="hero-img-wrap">
	      <img src="{% static 'images/product-1.png' %}" class="img-fluid" />
	    </div>
	  </div>
	</div>
{% endblock hero %} 

{% block content %}

	<div class="untree_co-section product-section before-footer-section">
	  <div class="container">
		  <div class="row justify-content-center mb-5">
		  	<div class="col-md-8 col-lg-8 pb-4">
	        <form method="GET" action="{% url 'shop' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-9">
                <div class="form-group">
                  <input type="text" class="form-control" id="search" placeholder="Enter your search..." name="search" value={{request.GET.search}}>
                </div>
              </div>
              <div class="col-3">
				        <input type="submit" class="btn btn-primary-hover-outline" value="Search" />
              </div>
            </div>
          </form>
      	</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
          {% if messages %}
            {% for message in messages %}
              <li {% if message.tags %} class="alert alert-{{message.tags}}"{% endif %}>{{message}}</li>
            {% endfor %}
          {% endif %}
        </div>
      </div>
	    <div class="row">
			  <!-- Start for products index -->
			  {% for product in products %}
			    <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
			  	  <a class="product-item" href="cart.html">
			  	    <img
			  	  	src="{% static 'images/'|add:product.image_url %}"
			  	  	class="img-fluid product-thumbnail"
			  	    />
			  	    <h3 class="product-title">{{product.name}}</h3>
			  	    <strong class="product-price">${{product.price}}</strong>
			  	    <span class="icon-cross">
			  	  	<img src="{% static 'images/cross.svg' %}" class="img-fluid" />
			  	    </span>
			  	  </a>
			    </div>
			  {% endfor %}
			  <!-- End for products index -->
	    </div>
	  </div>
	</div>
{% endblock content %} 
